<% include ./partials/header %>

<div class = "well" id = "home_div">
    <h1 id = "home_heading">FORMS</h1>
    <a href = "/user-form" class = "btn btn-lg btn-warning">CLICK TO SUBMIT FORM</a>
</div>






<% include ./partials/footer %>