<% include ./partials/header %>

<div class = "well" id ="submission_div">
    
    <h1>Your Form Has Been Sucessfully Submitted</h1>
    <p>
        <a href = "/user-form" class = "btn btn-lg btn-warning"> Submit Another Response!</a>
    </p>
    

</div>


<% include ./partials/footer %>